h2 {
    max-width: none;
}

main ul li {
    display:block;
    position: relative;
    top: 50px;
    margin-left: 500px;
    margin-top: 20px;
    padding: 15px;
    border: 2px solid #000000;
    max-width: 200px;
}


main ul li:nth-child(odd) {
    background-color: #ffffff;
    border: 2px solid #000000;
}

main ul li:nth-child(even){
    background-color: #000000;
    color: #ffffff;
    border: 2px solid #ffffff;
}