* {
    background-color: #a2bbff;
}
h4,
label,
input {
    align-items: center;
    justify-content: center;
    position: relative;
    top: 300px;
    margin-left: 500px;
}

h4 {
    position: relative;
    top: 275px;
}

input {
    margin-left: 0px;
    width: 300px;
    background-color: #ffffff;
    padding: 2px;
    border-radius: 30px;
}

#enter {
    display: block;
    margin-left: 550px;
    margin-top: 30px;
    background-color:#000b6e;
    color:#ffffff;
    border: 2px solid #000000;
}
