*{
    background-color:#a2bbff;
}

body {
    position: relative;
}

header{
    box-shadow: 0px 0px 15px 5px #000000;
    background-color:#000000;
    position: relative;
    bottom: 40px;
}

h1 {
    box-shadow: 0px 0px 15px 5px #ffffff;
    background-color: #ffffff;
    width: 925px;
    font-size: 50px;
    font-weight: 700;
    margin-left: 250px;
    justify-content: center;
    align-items: center;
}

nav ul li {
    display: inline;
    position: relative;
    left: 300px;
    padding: 15px;
    margin: 20px;
}

nav ul li:nth-child(odd) {
    background-color: #ffffff;
    border: 2px solid #000000;
}

nav ul li:nth-child(even){
    background-color: #000000;
    color: #ffffff;
    border: 2px solid #ffffff;
}

nav ul li a {
    text-decoration: none;
    color:#000000;
}

nav ul li a:nth-child(even) {
    color: #ffffff;
    background-color:#000000;
}

h2 {
    background-color: #ffffff;
    border: 2px solid #000000;
    max-width: 150px;
    text-align: center;
    font-size: 30px;
}

h2,
p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

footer {
    position: absolute;
    bottom: -150px;
    box-shadow: 0px 0px 15px 5px #000000;
    background-color: #000000;
    width: 100%;
    text-align: center;
}

.nav-background{
    background-color: #ffffff;
    color: #000000;
}

.nav-background-2 {
    background-color: #000000;
    color:#ffffff;
}

#for-current-families {
    border-radius: 30px;
    font-weight: 600;
    box-shadow: 0 2px 10px 3px #000b6e;
    background: radial-gradient(#ffffff 65%, #000000); 
}

#for-current-families a {
    background-color: #ffffff;
    border-radius: 30px;
}

#for-current-families:hover {
    color:#ffffff;
    background:radial-gradient(#000000 65%,#ffffff);
}

#for-current-families a:hover {
    color:#ffffff;
    background-color: #000000;
    letter-spacing: .5px;
    font-weight: 400;
}

#credit {
    margin-left: 0;
    background-color: #ffffff;
    box-shadow: 0px 0px 10px 2px #ffffff;
}