h1 {
    animation: transparent 5s linear 1s 1;
}

main {
    justify-content: center;
    align-items: center;
}

h2,
p,
label,
input,
textarea {
    justify-items: center;
    justify-content: center;
    align-items: center;
    animation: transparent 5s linear 1s 1;
}

h2 {
    margin-left: 75px;
}

h3 {
    margin-left: 300px;
}

p {
    margin-left: 500px;
}

label,
input,
textarea {
    margin-left: 400px;
    margin-bottom: 30px;
}

label {
    background-color:#c3d3ff;
    color:#000000;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    letter-spacing: 1px;
}

main a {
    margin-left: 550px;
    position: relative;
    top: 20px;
    color:#000000;
    text-decoration: none;
    animation: transparent 5s linear 1s 1;
}

main a:hover {
    background-color:#000000;
    color:#ffffff;
}

main a:focus {
    color:#000000;
    background-color: #ffffff;
}

main a:active {
    color:#000b6e;
    background-color:#a2bbff;
    border: 1px double #000000;
}

input,
textarea {
    background-color: #ffffff;
    color:#000000;
    width: 400px;
}

textarea {
    height: 400px;
}

footer {
    position: absolute;
    bottom: -100px;
    box-shadow: 0px 0px 15px 5px #000000;
    background-color: #000000;
    width: 100%;
    text-align: center;
}

.button {
    justify-items: center;
    width: 400px;
    background-color:#000b6e;
    color: #ffffff;
    border: 2px solid #000000;
    display: block;
    padding: 5px;
    margin-left: 400px;
    margin-top: 20px;
    position:relative;
    bottom: 20px;
}

.button:hover {
    box-shadow: 1px 1px 20px 5px #7f0099;
    border: 2px solid #ffffff;
}

.button:focus {
    box-shadow: 1px 1px 20px 10px #fbff00;
    border: 2px solid #000000;
    background-color:#001aff;
}

.section {    
    background-color:#c3d3ff;
    border-radius: 30px;
    box-shadow: 0px 0px 20px 13px #000b6e;
}

#Home-tab {
    animation: drop 500ms linear 5s 1 normal;
}

#About-tab {
    animation: drop 500ms linear 6s 1 normal;
}

#Gallery-tab {
    animation: drop 500ms linear 7s 1 normal;
}

#Contact-tab {
    animation: drop 500ms linear 8s 1 normal;
}

#for-current-families {
    animation: drop 500ms linear 9s 1 normal;
}

#welcome {
    margin-left: 300px;
}

@keyframes transparent {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 100%
    }
  }
@keyframes drop {
    0% {
        position: relative;
        top: -200px;
    }
    100% {
        position: relative;
        top: 0;
    }
}
