*{
    background-color:#a2bbff;
}

header{
    border:#000000 solid 3px;
    border-width: 100%;
}

h1 {
    font-size: 50px;
    margin: 20px;
    font-weight: 700;   
}

nav ul li {
    display:inline;
    position: relative;
    left: 600px;
    bottom: 60px;
    padding: 15px;
    margin: 20px;
    border: 2px solid #000000;
}


nav ul li:nth-child(odd) {
    background-color: #ffffff;
    border: 2px solid #000000;
}

nav ul li:nth-child(even){
    background-color: #000000;
    color: #ffffff;
    border: 2px solid #ffffff;
}

nav ul li a {
    text-decoration: none;
    color:#000000;
}


nav ul li a:nth-child(even) {
    color: #ffffff;
    background-color:#000000;
}

main {
    justify-content: center;
    align-items: center;
}

h2 {
    background-color: #ffffff;
    border: 2px solid #000000;
    max-width: 150px;
    text-align: center;
    align-items: center;
    justify-items: center;
    font-size: 30px;
}

p,
label,
input,
textarea {
    justify-items: center;
    justify-content: center;
    align-items: center;
} 

p {
    margin-left: 500px;
}

label,
input,
textarea {
    margin-left: 400px;
    margin-bottom: 30px;
}

main a {
    margin-left: 550px;
    position: relative;
    top: 20px;
    color:#000000;
    text-decoration: none;
}

main a:hover {
    background-color:#000000;
    color:#ffffff;
}

main a:focus {
    color:#000000;
    background-color: #ffffff;
}

main a:active {
    color:#000b6e;
    background-color:#a2bbff;
    border: 1px double #000000;
}

input,
textarea {
    background-color: #ffffff;
    color:#000000;
    width: 400px;
}

textarea {
    height: 400px;
}

.button {
    justify-items: center;
    width: 400px;
    background-color:#000b6e;
    color: #ffffff;
    border: 2px solid #000000;
    display: block;
    padding: 5px;
    margin-left: 400px;
    margin-top: 20px;
}

.button:hover {
    box-shadow: 1px 1px 20px 5px #7f0099;
    border: 2px solid #ffffff;
}

.button:focus {
    box-shadow: 1px 1px 20px 10px #fbff00;
    border: 2px solid #000000;
    background-color:#001aff;
}

.nav-background{
    background-color: #ffffff;
    color: #000000;
}

.nav-background-2 {
    background-color: #000000;
    color:#ffffff;
}

#credit {
    position:relative;
    top: 100px;
    border: 2px solid #000000
}

#for-current-families {
    border-radius: 30px;
    font-weight: 600;
    box-shadow: 0 2px 10px 3px #000b6e;
    background: radial-gradient(#ffffff 65%, #000000); 
}

#for-current-families a {
    background-color: #ffffff;
    border-radius: 30px;
}

#for-current-families:hover {
    color:#ffffff;
    background:radial-gradient(#000000 65%,#ffffff);
}

#for-current-families a:hover {
    color:#ffffff;
    background-color: #000000;
    letter-spacing: .5px;
    font-weight: 400;
}
