*{
    background-color:#a2bbff;
}

body {
    position: relative;
}

header{
    box-shadow: 0px 0px 15px 5px #000000;
    background-color:#000000;
    position: relative;
    bottom: 40px;
}

h1 {
    box-shadow: 0px 0px 15px 5px #ffffff;
    background-color: #ffffff;
    width: 925px;
    font-size: 50px;
    font-weight: 700;
    margin-left: 250px;
    justify-content: center;
    align-items: center;
    animation: transparent 5s linear 1s 1;
}

nav ul li {
    display: inline;
    position: relative;
    left: 300px;
    padding: 15px;
    margin: 20px;
    border: 2px solid #000000;
}

nav ul li:nth-child(odd) {
    background-color: #ffffff;
    border: 2px solid #000000;
}

nav ul li:nth-child(even){
    background-color: #000000;
    color: #ffffff;
    border: 2px solid #ffffff;
}

nav ul li a {
    text-decoration: none;
    color:#000000;
}


nav ul li a:nth-child(even) {
    color: #ffffff;
    background-color:#000000;
}

main {
    justify-content: center;
    align-items: center;
}

h2,
p,
label,
input,
textarea {
    justify-items: center;
    justify-content: center;
    align-items: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    animation: transparent 5s linear 1s 1;
}

h2 {
    background-color: #ffffff;
    border: 2px solid #000000;
    max-width: 150px;
    text-align: center;
    font-size: 30px;
}

p {
    margin-left: 500px;
}

label,
input,
textarea {
    margin-left: 400px;
    margin-bottom: 30px;
}

main a {
    margin-left: 550px;
    position: relative;
    top: 20px;
    color:#000000;
    text-decoration: none;
    animation: transparent 5s linear 1s 1;
}

main a:hover {
    background-color:#000000;
    color:#ffffff;
}

main a:focus {
    color:#000000;
    background-color: #ffffff;
}

main a:active {
    color:#000b6e;
    background-color:#a2bbff;
    border: 1px double #000000;
}

input,
textarea {
    background-color: #ffffff;
    color:#000000;
    width: 400px;
}

textarea {
    height: 400px;
}

footer {
    position: absolute;
    bottom: -100px;
    box-shadow: 0px 0px 15px 5px #000000;
    background-color: #000000;
    width: 100%;
    text-align: center;
}

.button {
    justify-items: center;
    width: 400px;
    background-color:#000b6e;
    color: #ffffff;
    border: 2px solid #000000;
    display: block;
    padding: 5px;
    margin-left: 400px;
    margin-top: 20px;
}

.button:hover {
    box-shadow: 1px 1px 20px 5px #7f0099;
    border: 2px solid #ffffff;
}

.button:focus {
    box-shadow: 1px 1px 20px 10px #fbff00;
    border: 2px solid #000000;
    background-color:#001aff;
}

.nav-background{
    background-color: #ffffff;
    color: #000000;
}

.nav-background-2 {
    background-color: #000000;
    color:#ffffff;
}

.section {
    background-color: #ffffff;
}

#Home-tab {
    animation: drop 500ms linear 5s 1 normal;
}

#About-tab {
    animation: drop 500ms linear 6s 1 normal;
}

#Gallery-tab {
    animation: drop 500ms linear 7s 1 normal;
}

#Contact-tab {
    animation: drop 500ms linear 8s 1 normal;
}

#for-current-families {
    border-radius: 30px;
    font-weight: 600;
    box-shadow: 0 2px 10px 3px #000b6e;
    background: radial-gradient(#ffffff 65%, #000000); 
    animation: drop 500ms linear 9s 1 normal;
}

#for-current-families a {
    background-color: #ffffff;
    border-radius: 30px;
}

#for-current-families:hover {
    color:#ffffff;
    background:radial-gradient(#000000 65%,#ffffff);
}

#for-current-families a:hover {
    color:#ffffff;
    background-color: #000000;
    letter-spacing: .5px;
    font-weight: 400;
}

#welcome {
    margin-left: 300px;
}

#credit {
    margin-left: 0;
    background-color: #ffffff;
    box-shadow: 0px 0px 10px 2px #ffffff;
}

@keyframes transparent {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 100%
    }
  }
@keyframes drop {
    0% {
        position: relative;
        top: -200px;
    }
    100% {
        position: relative;
        top: 0;
    }
}
